<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" thread-count="5" parallel="classes">
    <test name="Chrome Regression">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="com.example.runner.CucumberRunnerTests"/>
            <!--<class name="com.cucumber.definitions.LoginPageSteps"/>-->
        </classes>
    </test>
</suite>